@import 'assets/css/template.scss';

.form {
  width: 100%;
}

.textField {
  width: 100%;
  margin-bottom: 10px !important;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 5px;

  span {
    font-size: 1rem;
  }

  li {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .radioTextField {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .radioAddBtn {
    background-color: transparent;
    padding-bottom: 4px;
    border-bottom: 1px solid transparent;
    opacity: .5;
    color: $c_black;
    
    &:hover {
      cursor: text;
      border-bottom: $b_black;
    }
  }
}
