@import 'assets/css/template.scss';

.title {
  padding: 0 !important;
  margin-top: 25px !important;
  margin-bottom: 25px !important;
  margin-left: 25px !important;
  resize: none;
  height: fit-content;
  padding: 0;
  font-size: 32px;
  border-bottom: 1px solid transparent;

  &:focus {
    border-bottom: $b_border;
  }
}