@import 'assets/css/template.scss';

.textArea {
  width: 100%;
  margin-top: 5px !important;
  // background-color: red;
  padding: 16.5px 14px;
  min-height: 80px;
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 4px;

  &:hover {
    border-color: rgba(0, 0, 0, 0.87);
  }

  &:active {
    outline: 2px solid #1976d2;
    border-color: transparent;
  }
}