@import 'assets/css/template.scss';

.survey {
  position: relative;
  background-color: $c_white;
  border-radius: 10px;
  border: $b_border;
  padding-top: 25px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  padding: 0 25px;
}

.disabled {
  pointer-events: none;
}