@import 'assets/css/template.scss';

.header {
  background-color: #fff;
  min-height: 56px;
  box-shadow: inset 0px -1px 1px $c_border;
}

.container {
  min-height: 56px;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}

.list {
  display: flex;
  gap: 20px;
}

.navLink {
  color: $c_black;
  font-size: 18px;
  font-weight: bold;

  padding: 10px;
  border-radius: 10px;

  &:hover {
    background-color: rgb(243, 246, 249);
    color: rgb(62, 80, 96);
  }
}